@import '../scss/components/Home/Carousel/CarouselSlider/carouselSlider.scss';
@import '../scss/components/Header/Navigation/navigation.scss';
@import '../scss/components/Travel/travel.scss';
@import '../scss/components/Models/fullOffer';
@import '../scss/components/Profile/OfferManager/offerManager';
@import '../scss/components/Login/login';
@import '../scss/components/Register/register';
@import '../scss/components/Home/home';
@import '../scss/components/Home/OfferNews/offerNews';
@import '../scss/components/MyOffer/OfferList/offerList';
@import '../scss/components//Profile/AgentProfile/agentProfile';
@import './config.scss';

.mainComponent{
  background-color: $primary-color;
  height: 100%;
  min-height: fit-content;
}

header{
  z-index: 100000;
}


html,body{
  height: 100%;
  min-height: 100%;
}


#root{
  height: 100%;
  min-height: 100%;
}


