@import '../../../config.scss';

.gr-addOffer{
    margin: 1% 0;
    z-index: 10;
    background-color: $secondary-color;
    color: $text-color;
    width: auto;
    padding: 10px;
    border-radius: 5%;
}

.gr-deleteOffer{
    margin: 1% 0;
    z-index: 10;
    background-color: $third-color;
    color: $text-color;
    width: auto;
}


.gr-offerform{
    z-index: 100;
    margin: 3%;
    margin-top: 3%;
    border: 30px solid $third-color;
    border-radius: 10px;
    background-color: $text-color;
    text-align: center;
    padding: 1%;

    h1{
        font-weight: 900;
    }

    h3{
        font-weight: 600;
        padding: 2%;
    }

    input{
        margin: 0.5%;
        padding: 1%;
    }
}