@import '../../config.scss';

.gr-standings-main{
    background-color: $text-color;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;
    text-align: center;
    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
    }
    >h2{
        text-align: center;
        font-weight: 300;
        padding-bottom: 2%;
    }
}

.gr-table-standings { 
    th{
        font-weight: 900;
    }
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 10%;
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid black;
    }

}

.gr-standings-pagination-main{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;

    padding-bottom: 10px;
    color: $third-color;
    background-color: $third-color;

    .gr-pagination-elem{
        padding: 10px;
    }
}

.gr-search {
    z-index: 20;
    //position: absolute;
    padding-right: 10px;
    padding-left: 30%;
    padding-top: 15px;
    display: inline-block;
    text-align: right;
    width: 20%;
    height: 60px;
  
    div {
      position: relative;
      display: inline-block;
    }
  
    button {
      position: absolute;
      left: 3px;
      top: 13px;
      height: 14px;
      width: 14px;
      background-color: transparent;
      border: 0;
      transform: rotate(270deg);
  
      &:before {
        content: "";
        display: block;
        border: 1px solid $text-color;
        width: 15px;
        height: 15px;
        border-radius: 100%;
      }
  
      &:after {
        content: "";
        display: block;
        width: 2px;
        height: 3px;
        background-color: $text-color;
        transform: rotate(30deg);
      }
    }
  
    input {
      padding-left: 30px;
      border-radius: 13px;
      border: none;
      height: 28px;
      background-color: $secondary-color;
      color: $primary-color;
    }
  }