@import '../../../config.scss';

.div-button-addOffer{
    padding: 14px;
    background-color: $third-color;
    width: 80px;
    text-align: center;
    font-weight: 900;
    margin: 2px;
    border-radius: 2px;
}