@import "../../../config.scss";
/* Add a black background color to the top navigation */
.topnav {
    background-color: $secondary-color;
    overflow: hidden;

    img{
      height: 50px;
      margin-left: 18%;
    }
  }
  
  /* Style the links inside the navigation bar */
  .topnav a.link {
    float: left;
    display: block;
    color: $text-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav .link:hover {
    background-color: $text-color;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: $text-color;
    color: $secondary-color;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

