@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../../../config.scss";

.gr-carousel-slider{
    z-index: 0;
    border-radius: 12px;
    position: relative;
    
    overflow: hidden;
    .carousel-logo{
        background-color: $primary-color;
    }

    div{
        background-color: $primary-color;
        position: relative;
    }

    img{
        margin:auto;
        width: auto;
        height: 400px;
    }
}
