@import '../scss/config.scss';


.gr-logindiv{
    grid-auto-flow: column;
    justify-content: start;

    background-color: whitesmoke;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    height: 100%;
    min-height: 100%;
    text-align: center;

    input{
        padding: 0.5%;
        margin-bottom: 1%;
    }

    //button{
    //    background-color: black;
    //    color: whitesmoke;
    //}

    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
        color: $third-color;
    }

    p{
        padding: 2%;
    }
}

.registerButton{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: $third-color;
}