@import '../scss/config.scss';

.gr-registermenu{
    grid-auto-flow: column;
    justify-content: start;

    background-color: $text-color;
    margin: 2%;
    margin-top: 4%;
    padding: 2%;
    min-height: 400px;
    text-align: center;
    
    input{
        padding: 0.5%;
        margin-bottom:1%;
    }


    >h1{
        text-align: center;
        font-weight: 900;
        font-size: 25px;
        text-decoration-line: underline;
        padding-bottom: 2%;
        color: $third-color;
    }    
}