@import '../../config.scss';

.fulloffer{
    button{
        display: flex
    }
    height: 100%;
    img{
        
        width: 100%;
        height: auto;
    }
}
.gr-imageMoment{
    .paccommodation{
        padding: 1%;
        background-color: $secondary-color;
        color: $text-color;
    }
    display: inline-block;
    text-align: left;
    .pbold{
        font-weight: 900;
        padding-left: 3%;
    }
    //font-weight: 900;
    border: 1px solid $third-color;
    width: 80%;
    //height: 300px;
    margin: 10px;
    padding: 0 10px;
}

.gr-imagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

    grid-auto-flow: column;
    justify-content: start;
    grid-gap: 10px;

    width: 80%;
    height: auto;
    padding: 10px;
    border: 1px solid $secondary-color; 
    margin: 0 auto;
    div{
        margin: 1%;
    }
}

@media screen and (max-width:1200px){
    .gr-imageMoment{
        
        width: 51%;
        img{
            
        }
    }
}